*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url('bg.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    justify-content: center;
    overflow-wrap: anywhere; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600ps;
}

.logo{
    display: flex;

    max-width: 450px;
    height: 450px;
    margin-top: -200px;
    margin-bottom: -50px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    justify-content: space-between;
    font-weight:bold;
    color: #fff;
    font-size: 30px;
    font-weight: 500;  /* Use numeric values for weight (e.g., 100–900) */
    margin: 0 auto;    /* Centers the text block */
    text-align: center;
    max-width: 1000px;  /* Optional: limit the width for better readability */
} 

.wrapper{
    margin-top: 90px;
    width: 550px;
    height: 250px;
    background: transparent;
    color: aliceblue;
    opacity: 1;
    border-radius: 50px;
    padding: 30px 35px;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    margin-left: 200px;

}
.wrapper h1{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    justify-content: center;

}
.orsign{
    text-align: center;
    align-items: center;
}

.btngg{
    justify-self: center;
    display: inline-block;
    width: 250px;
    transition: .5s;
    height: 60px;
    border-radius: 35px;
    font-size:  30px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 129px;
}
.btngg i{
    color: black;
    justify-content: center;
}

.wrapper .btn{
    margin-left: 115px;
    width: 50%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 35px;
    box-shadow: 0 0 10px rgb(0, 0, 0, -1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    text-decoration: underline;

}
.wrapper .btn a{
    color: black;
    text-decoration: none;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper .register-link a{
    color: #fff;
    font-weight: 500;

}

.register-link a:hover{
    text-decoration: underline;
}


